	body {
		background-image: url(../img/bg.jpg);
		background-position: 0 0 no-repeat;
	}
	
	#lis {
		float: right;
	}
	
	#Top {
		width: 95%;
		height: 100px;
		/*background-color: #CCCCCC;*/
		margin: 0 auto;
		position: relative;
	}
	
	#Top img {
		width: 200px;
		height: 100px;
	}
	
	#Top .xj {
		height: 70px;
		font-size: 30px;
		color: #000000;
		text-align: center;
		line-height: 70px;
		position: absolute;
		top: 26px;
		font-weight: bolder;
		cursor: pointer;
	}
	
	#Top ul {
		list-style: none;
		position: absolute;
		top: 30px;
		left: 800px;
	}
	
	#Top ul li {
		display: block;
		float: left;
		width: 60px;
		height: 30px;
		margin-left: 20px;
		line-height: 30px;
		text-align: center;
		font-size: 15px;
		color: black;
	}
	
	#Top ul li:hover {
		background-color: #CCCCCC;
	}
	
	#cebian {
		width: 70px;
		height: 350px;
		position: fixed;
		left: 0px;
		top: 200px;
		background-color: #EEF1F3;
		display: none;
	}
	
	#cebian p {
		width: 70px;
		height: 80px;
		margin-top: 20px;
		font-size: 17px;
		text-align: center;
		line-height: 80px;
	}
	
	.search {
		width: 250px;
		height: 30px;
		position: absolute;
		left: 600px;
		top: 42px;
	}
	
	.search #str {
		width: 180px;
		height: 20px;
		border-radius: 50px;
	}
	
	.search #btn {
		width: 50px;
		height: 25px;
	}
	
	#box {
		width: 600px;
		height: 400px;
		position: relative;
		left: 350px;
		top: 100px;
		list-style: none;
		background: #F5F5F5;
	}
	
	#box img {
		position: absolute;
		top: 100px;
		left: 30px;
		width: 200px;
		height: 200px;
	}
	
	#box #p1 {
		position: absolute;
		left: 250px;
		top: 100px;
		font: "微软雅黑";
		font-size: 20px;
	}
	
	#box #p2 {
		position: absolute;
		left: 250px;
		top: 180px;
		font: "微软雅黑";
		font-size: 14px;
	}
	
	#box .price {
		position: absolute;
		left: 400px;
		top: 265px;
		font: "微软雅黑";
		font-size: 20px;
	}
	
	#buy {
		width: 100px;
		position: absolute;
		left: 550px;
		top: 550px
	}
	
	#cart {
		width: 100px;
		position: absolute;
		left: 800px;
		top: 550px;
	}
	
	.zx {
		cursor: pointer;
	}
	
	.zx:hover {
		background-color: brown;
	}
	
	#box img:hover {
		width: 400px;
		height: 400px;
	}
	
	#nav li:hover {
		text-align: center;
		width: 120px;
		height: 50px;
		line-height: 50px;
	}
	
	#down {
		width: 1150px;
		height: 200px;
		/*background-color: #EEF1F3;*/
		position: relative;
		left: 89px;
		top: 250px;
	}
	
	#down #erwei {
		width: 200px;
		height: 51px;
		position: absolute;
		top: 50px;
		left: 100px;
		font-size: 16px;
		color: #333333;
	}
	
	#down #erwei img {
		width: 31px;
		height: 51px;
	}
	
	#down #ma {
		width: 140px;
		height: 140px;
		display: none;
		position: absolute;
		left: 100px;
		top: -100px
	}
	
	#down #xian {
		position: absolute;
		left: 480px;
		top: 30px;
	}
	
	#down p {
		position: absolute;
		left: 300px;
		top: 150px;
		font-size: 14px;
	}
	
	#hidden {
		width: 30px;
		height: 30px;
		position: fixed;
		left: 0;
		top: 300px;
		background-color: yellowgreen;
		border-radius: 20px;
		z-index: -5px;
		font-size: 10px;
		text-align: center;
		line-height: 30px;
	}