/**{
	margin: 0;
	padding: 0;
}*/

body {
	background-image: url(../img/bg.jpg);
	background-position: 0 0 no-repeat;
}

#lis {
	float: right;
}

.login {
	color: #000000;
}

#Top {
	width: 95%;
	height: 100px;
	/*background-color: #CCCCCC;*/
	margin: 0 auto;
	position: relative;
}

#Top img {
	width: 200px;
	height: 100px;
}

#Top .xj {
	height: 70px;
	font-size: 30px;
	color: #000000;
	text-align: center;
	line-height: 70px;
	position: absolute;
	top: 26px;
	font-weight: bolder;
	cursor: pointer;
}

#Top ul {
	list-style: none;
	position: absolute;
	top: 30px;
	left: 800px;
}

#Top ul li {
	display: block;
	float: left;
	width: 60px;
	height: 30px;
	margin-left: 20px;
	line-height: 30px;
	text-align: center;
	font-size: 15px;
	color: black;
}

#Top ul li:hover {
	background-color: #CCCCCC;
}

#hidden {
	width: 30px;
	height: 30px;
	position: fixed;
	left: 0;
	top: 300px;
	background-color: yellowgreen;
	border-radius: 20px;
	z-index: -5px;
	font-size: 10px;
	text-align: center;
	line-height: 30px;
}

#cebian {
	width: 70px;
	height: 350px;
	position: fixed;
	left: 0px;
	top: 200px;
	background-color: #EEF1F3;
	display: none;
}

#cebian p {
	width: 70px;
	height: 80px;
	margin-top: 20px;
	font-size: 17px;
	text-align: center;
	line-height: 80px;
}

#backtotop {
	position: fixed;
	width: 70px;
	height: 70px;
	right: 10px;
	bottom: 30px;
	background-color: #F5DEB3;
	text-align: center;
	line-height: 70px;
	cursor: pointer;
	border-radius: 30px;
	opacity: 0.5;
}

.search {
	width: 250px;
	height: 30px;
	position: absolute;
	left: 600px;
	top: 42px;
}

.search #str {
	width: 180px;
	height: 20px;
	border-radius: 50px;
}

.search #btn {
	width: 50px;
	height: 25px;
}

#box {
	width: 200px;
	height: 400px;
	background: burlywood;
	float: left;
	margin-left: 25px;
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	position: relative;
	left: 500px;
}

#box img {
	width: 200px;
	height: 200px;
}

#box li:hover {
	opacity: 0.6;
}

.carousel {
	width: 1000px;
	height: 475px;
	margin: 0 auto;
	border: 1px solid #333;
	position: relative;
}

.carousel ul {
	list-style: none;
}

.carousel ul li {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.carousel ul li.first {
	display: block;
}

.btns a {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	margin-top: -20px;
	background-color: orange;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	font-weight: bold;
	cursor: pointer;
	z-index: 999;
}

.btns a:hover {
	background-color: gold;
}

.leftBtn {
	left: 10px;
}

.rightBtn {
	right: 10px;
}

.circles {
	position: absolute;
	width: 400px;
	height: 30px;
	left: 300px;
	top: 400px;
}

.circles ol {
	list-style: none;
}

.circles ol li {
	float: left;
	width: 30px;
	height: 30px;
	/*background-color: wheat;*/
	margin-right: 6px;
	border-radius: 50%;
	cursor: pointer;
}

.circles ol li.cur {
	background-color: red;
}

header {
	width: 100%;
}

header ul {
	overflow: hidden;
}

header ul li {
	display: block;
	float: left;
	width: 100px;
	height: 30px;
	margin-left: 15px;
	line-height: 30px;
	text-align: center;
	background-color: #DDDDDD;
	margin-right: 10px;
}

section .goodsUl {
	overflow: hidden;
	margin: 0 auto;
	width: 90%;
	/*background-color: #CCCCCC;*/
	list-style: none;
}

section .goodsUl li {
	position: relative;
	width: 200px;
	height: 400px;
	background: #F5F5F5;
	float: left;
	margin-left: 25px;
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	border: 1px solid #A9A9A9;
	z-index: 1;
	
}

section .goodsUl li p {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
section .goodsUl li img {
	width: 200px;
	height: 200px;
}



.price {
	background: #CD5C5C;
	font-size: 20px;
	color: white;
	/*position: absolute;
	top:400px;*/
}

#down {
	width: 1150px;
	height: 200px;
	/*	background-color: #EEF1F3;*/
	position: relative;
	left: 89px;
	top: 150px;
}

#down #erwei {
	width: 200px;
	height: 51px;
	position: absolute;
	top: 50px;
	left: 100px;
	font-size: 16px;
	color: #333333;
}

#down #erwei img {
	width: 31px;
	height: 51px;
}

#down #ma {
	width: 140px;
	height: 140px;
	display: none;
	position: absolute;
	left: 100px;
	top: -100px
}

#cart {
	position: absolute;
	left: 590px;
	top: 550px;
}

.zx {
	cursor: pointer;
}

.zx:hover {
	background-color: brown;
}

#nav li:hover {
	text-align: center;
	width: 120px;
	height: 50px;
	line-height: 50px;
}

#down #xian {
	position: absolute;
	left: 480px;
	top: 30px;
}

#down p {
	position: absolute;
	left: 300px;
	top: 150px;
	font-size: 14px;
}

#hezi{
	width: 200px;
	height: 400px;
	opacity: 0.5;
	background: black;
	position: absolute;
	top: 0;
	z-index: -1;
}